<?xml version='1.0'?>
<model>
  <name>ardent</name>
  <version>0.1.0</version>
  <author>
    <name>Nathan Boyd</name>
    <email>nathan.boyd.481@my.csun.edu</email>
  </author>
  <sdf>robot/urdf/ardent.urdf</sdf>
  <description>
    This model approximates the ARDENT hexapod robot using model primitives. This simulaion aims to ballpak fundamental control theories
    for the physical sysem while it is being designed.
  </description>
</model>
